.trialPageContainer {
    width: 100%;    
    height: 100%;
}

.trialPageCharts {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    width: 100%;
    padding: 10px;

    height: 100%;
    overflow: auto;
}

.trialPieContainer {
    /* border: 1px solid gray; */
}

.trialPageFilters {
    background-color: lightgray;
    padding: 10px;    
}

.trialTable {
    height: 500px;
    overflow: auto;
}

.trialChartContainer {
    padding-left: 10px;
    padding-right: 10px;
}

.trialTable tr,
.trialTable thead {
    border: 1px solid lightgray;
}