.gauge {
    height: 100%;
    width: 100%;

}

/* For vertically aligning */
/* Subtract 50px from height because canvas element has a very big top padding */
.gauge-svgContainer {
    height: calc(100% - 50px);
    width: 100%;
    display:flex;
    align-items:center;
    

    /* display: flex;
    align-items: center;
    justify-content: center; */

}

/* For horizontally aligning */
.gauge-svgContainer2 {
    display:block;
    margin: auto;
    padding: 5px;
}

.gauge-svgContainer canvas {

}

.gauge-label {
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    width: 100%;
    padding-bottom: 5px;
}
