.imageMapConfigDialog {
    /* height: 700px; */
}

.imageMapContent {
    width: 100%;
    height: 100%;
}

.imageMapContentContainer {
    display: grid;
    grid-template-columns: 500px 1fr;
    /* border: 1px solid blue; */
    width: 100%;
    height: 100%;
}

.imageMapForm {
    /* border: 1px solid red; */
    padding-right: 10px;
}

.formBodyImgMapConfig {
    height: calc(100% - 40px);
}

.footerToolbarImgMapConfig {

}

.imageContainer {
    /* border: 1px solid green; */
    overflow: auto;
}

.coordContainer {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
    grid-template-columns: min-content minmax(auto, 1fr) min-content minmax(auto, 50px) min-content minmax(auto, 50px) min-content minmax(auto, 1fr)
}