.dropdownContainer {
    z-index: 100;
}

.ui.dropdown .menu {
  border: 1px solid red;
  }

.dropdownWrapper {
  z-index: 1000;
}

/* We override the background color to transparent  */
.ui.selection.dropdown {
  background: rgba(255,255,255,0.5);
}