/* Outline is better than border as it is drawn outside the control */
.ctrl-selected {
    outline: 1px solid blue;
}

.label {
    font-weight: 800;
    background: rgba(255,255,255,0.5);
}

.baseControl {
    width: 100%
}

.wrapper {
    width: 100%;
    background-color: white;
}