.section {
    font-weight: bold;
    font-size: larger;
    background-color: lightsteelblue;
    height: 100%;
    width: 100%;
    padding-left: 5px;
    display: flex;
    align-items: center; /* align vertical */
    z-index: -2;
}
