.noobTableContainer {
    width: 100%;
    height: 100%;
}


.noobTable {
    width: 100%;    
}

.noobTable tr th,
.noobTable tfoot tr td {
    border: 1px solid lightgray;
    padding: 5px;
    background-color: dimgray;
    text-align: center;
    color: white;
}

.noobTable tr td {
    border: 1px solid gray;
    padding: 5px;
}

.noobTable tfoot tr td {
    
}

.pagination {
    margin-top: 5px;
    margin-bottom: 5px;
}

.pagination button,
.pagination input,
.pagination select,
.pagination span {
    border-radius: 3px;
    margin-right: 10px;
}